body {
	background-image: url("http://i.imgur.com/FVApkll.png");
	text-align: center;
	font-family: 'News Cycle', sans-serif;
}
.header {
  display: inline-block;
}
.handwriting {
		font-family: 'Annie Use Your Telescope', cursive;
    color: #689687;
}
.color {
  color: #689687;
}
.name {
	font-size: 300%
}
p {
	font-size: 200%;
  vertical-align: center;
}

#zoe-photo {
  height: auto; 
  width: auto; 
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}


