body {
	background-image: url("http://i.imgur.com/FVApkll.png");
	font-family: 'News Cycle', sans-serif;
}
.header {
  display: inline-block;
}
.handwriting {
		font-family: 'Annie Use Your Telescope', cursive;
    color: #689687;
}
.color {
  color: #689687;
}
.name {
	font-size: 300%
}
p {
	font-size: 130%;
  vertical-align: center;
  text-align: left;
}

p.tagline {
  font-size: 200%;
}

#zoe-photo {
  display: block;
  height: auto; 
  width: auto; 
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin-left:auto;
  margin-right:auto;
}

.about-me {
  word-wrap:break-word;
  margin-left:auto;
  margin-right:auto;

}

.list {
  list-style: none;
}

i{
/*  color: #689687*/
}

/* unvisited link */
a:link {
    color: #689687;
}

/* visited link */
a:visited {
    color: #689687;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: #689687;
}
